<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581849232596-3m2fjkj6e6esve098obq82h9icaahue8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581849232596-3m2fjkj6e6esve098obq82h9icaahue8</string>
	<key>API_KEY</key>
	<string>AIzaSyDu0tbg-XaRQQRDp7zPB1caWDuPOy76rzw</string>
	<key>GCM_SENDER_ID</key>
	<string>581849232596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-4ec05</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-4ec05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581849232596:ios:3735061a45d1865f0ab741</string>
</dict>
</plist>